.header {
    border-bottom: solid 2px black;
    display: flex;
    flex-direction: column;

    @media (max-width: 900px) {
        border-bottom: 0;
    }
}

.header-bar {
    height: 30px;
    width: 100%;
    background-color: #15323A;
}

.header-main-div {
    display: flex;
    padding-inline: clamp(40px, 20%, 64px);
    padding-top: 20px;
    padding-bottom: 8px;
    justify-content: space-between;

    @media (max-width: 900px) {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
        padding: 20px 0 0;
    }
}

.header-nav {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: flex-end;
    
    @media (max-width: 900px) {
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding-top: 8px;
        padding-bottom: 8px;
        border-top: solid 2px black;
        border-bottom: solid 2px black;
        align-items: center;
        justify-content: center;
    }
}

.list {
    display: flex;
    align-items: center;

    & li {
        padding-inline: 12px;
        display: flex;
        height: 24px;
        align-items: center;

        &:nth-last-of-type(2) {
            border-inline: solid 1px black;
        }

        &:hover,
        &:focus-within {
            background-color: #15323A;
            outline: solid 1px white;
            outline-offset: -4px;
            outline-style: dashed;

            & a {
                color: white;
            }
        }
    }

    @media (max-width: 900px) {
       
    }
}