.botao-mais-cursos {
    border: solid 2px #2C6C72;
    color: #2C6C72;
    font-weight: 600;
    display: block;
    margin-inline: auto;
    padding: 12px 52px;
    border-radius: 100px;
    background-color: #FFFFFF00;
    cursor: pointer;
}