.top-div {
    padding-top: 6%;

    & img {
        width: 30%;
        display: block;
        margin-inline: auto;
    }

    & .input-div {
        margin: 3% auto;
        width: 40%;
        position: relative;

        &::after {
            position: absolute;
            content: "";
            right: 1px;
            top: 0;
            border: solid 3px #2c6c7281;
            width: 43px;
            height: 43px;
            border-radius: 100px;
        }

        & input {
            display: block;
            width: 100%;
            border-radius: 100px;
            border: solid 3px #2c6c7259;
            padding: 13px 20px;
            font-size: 16px;
            background-color: #2c6c7236;
            backdrop-filter: blur(1px);
            color: #2c6c72;

            &::placeholder {
                color: #2c6c72;
            }
        }
    }
}

.cursos-div {
    margin-top: 64px;
    margin-bottom: 64px;

    ul {
        padding-inline: 15%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 64px;
    }
}